@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__column/_content_copyright/footer__column_content_copyright.css);
@import url(../footer/__author/footer__author.css);
@import url(../footer/__column/-heading/footer__column-heading.css);
@import url(../footer/__column/-links/footer__column-links.css);
@import url(../footer/__list-item/footer__list-item.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__social-icon/footer__social-icon.css);

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}
